* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --Elements-dark-mode: hsl(209, 23%, 22%);
  --Text-light-mode: hsl(200, 15%, 8%);
  --Input-light-mode: hsl(0, 0%, 52%);
  --Background-light-mode: hsl(0, 0%, 95%);
  --Background-dark-mode: hsl(207, 26%, 17%);
  --Dark-text-light-Elements: hsl(0, 0%, 100%);
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  text-color: var(--Text-light-mode);
  line-height: 1;
  background-color: var(--Background-light-mode);
}

img {
  width: 100%;
}

.wrapper {
  width: 1440px;
  margin: auto;
}

.countries-header {
  min-width: 100%;
  background: var(--Dark-text-light-Elements);
}

.input-container {
  margin: 40px 0;
}

input,
select {
  padding: 12px;
  background: white;
}

.input-container .search input {
  width: 100%;
  padding-left: 40px;
}

.input-container .wrapper {
  display: grid;
  grid-template-columns: 60% auto;
  align-content: space-around;
  justify-content: space-between;
}

.input-container .wrapper .search {
  position: relative;
  width: 300px;
}

.input-container .wrapper .search-icon {
  position: absolute;
  top: 35%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  opacity: 0.5;
}

.country-list {
  margin: 40px 0;
}

.country-list .wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: space-between;
  grid-gap: 20px;
}

.countries-header .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.countries-header h1 {
  font-size: 20px;
  font-weight: bold;
}

.country-list .wrapper .country {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.country-list .wrapper .country img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.country-list .wrapper .info {
  padding: 20px;
  flex-grow: 1;
}

.country-list .wrapper .info .title {
  font-weight: bold;
  padding: 12px 0;
  font-size: 18px;
}

.country-list .wrapper .info .text {
  opacity: 0.9;
  padding: 5px 0;
}

.country-list .wrapper .info .text span {
  font-weight: bold;
}
